{% extends 'index.html' %}
{% block content %}
{% load static %}
<html>
<head>
	<title>password reset done</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
     integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<style>


    </style>
</head>
<body>
	<div class="site-wrap">
        	<div class="row">
            	<div class="col-md-8 blog-content" align="left" style="margin-top:8%; margin-bottom:0%; margin-left:5px;">
						<p  class="m-auto p-2 m">
						 We've emailed you instructions for setting your password, if an account exists with the email you entered.
							you should receive shortly.
						</p>
						<p class="m-auto p-2 m">
						If you don't receive an email, please make sure you've entered the address you registered with,
						and check your spam folder.
						</p>
						<p class="m-auto p-2"><a href="{% url 'index' %}">Return to home page</a></p>
				</div>
		    </div>
    </div>
</body>
</html>

{% endblock %}
