{% extends 'index.html' %}
{% block content %}
{% load static %}
<html>
<head>
    <title>password reset complete</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
     integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>

</style>
</head>
<body>
    <div class="site-wrap">
            <div class="row">
                <div class="col-md-8 blog-content" align="center" style="margin-top:10%; margin-bottom:10%; margin-left:0%;">
		          <h5><p style="font-min-size: 400px;" class="m-auto">Your password has been reset. You may go ahead and <a href="{% url 'login' %}">Log in</a> now.</p></h5>
	            </div>
            </div>
    </div>
</body>
</html>
{% endblock %}
